@model IEnumerable<AnimeAPIDb.Models.Anime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameUa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnilistId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitsuId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImdbId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameUa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnilistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitsuId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
